<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Page</title>
    <%- include("partials/head") %>
  </head>

 
    <%- include("partials/footer") %>
 
   
 
</html>
