

<footer  class="footer" >
    <div class="main-footer widgets-dark typo-light">
   <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">LINKS</h5>
           
              <P><a class="a2" href="#">Inicio</a></P>
              <P><a class="a2" href="#">Integrantes</a></P>
              <P><a class="a2" href="#">Nosotros</a></P>
              <P><a class="a2" href="#">Eventos</a></P>
              <P><a class="a2" href="#">Contactos</a></P>
             

               </div>
     </div>

     <div class="col-xs-12 col-sm-6 col-md-3">
           <div class="widget subscribe no-box">
             <h5 class="widget-title">TEAM SAMURAIZ</h5>
              <p>About the company, little discription will goes here.. </p>
              </div>
    </div>


       </div>
          </div>
              </div>

            <div class="footer-copyright">
           <div class="container">
             <div class="row">
             <div class="col-md-12 text-center">
       <p>Copyright Team Samuraiz © 2024. Todos los derechos reservados.</p>
       </div>
       </div>
       </div>
         </div>
     </footer>



