<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">


  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

	<footer class="footer">
		<div class="container">
			
		  <div class="social-media">
			
			
			<ul>
				 <a  href="https://www.facebook.com"><i class="fab fa-facebook fa-lg"></i></a>
				<a  href="https://www.facebook.com"><i class="fab fa-tiktok fa-lg"></i></a>
				<a  href="https://www.facebook.com"><i class="fab fa-instagram fa-lg"></i></a>
				<a  href="https://www.facebook.com"><i class="fab fa-whatsapp fa-lg"></i></a>
		
			</ul>
		  </div>
		  <div class="column contact-info">
			<h3>LINKS</h3>
		
			    <p><a href="/">Inicio</a></p>
				<p><a href="/integrant">Integrantes</a></p>
				<p><a href="/about">Nosotros</a></p>
				<p><a href="#">Eventos</a></p>
				<p><a href="/contact">Contactanos</a></p>
				<p><a href="#">Tienda</a></p>
		  </div>
		  <div class="column additional-links">
			<h3>Enlaces adicionales</h3>
			<ul>
				<p>Dirección: 123 Calle Principal, Ciudad, País</p>
				<p>Teléfono: (123) 456-7890</p>
				<p>Correo electrónico: <a href="mailto:info@example.com">info@example.com</a></p>
			</ul>
		  </div>
		</div>
	  </footer>

</body>
</html>