<footer class="three-column-footer">
  <div class="container">
    <div class="column social-media">
      <h3>Síguenos</h3>
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>
    </div>
    <div class="column page-tags">
      <h3>Etiquetas de páginas</h3>
      <ul>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Tienda</a></li>
      </ul>
    </div>
    <div class="column other-tags">
      <h3>Otros etiquetas</h3>
      <ul>
        <li><a href="#">Deporte</a></li>
        <li><a href="#">Tecnología</a></li>
        <li><a href="#">Música</a></li>
        <li><a href="#">Cine</a></li>
      </ul>
    </div>
  </div>
</footer>