<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <title>Social Media Bar</title>
 
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">

    
<header77 >
   
  
  <div  class="social-media-bar">
  

      <a  href="https://www.facebook.com"><i class="fab fa-facebook fa-xs"></i></a>
      <a  href="https://www.facebook.com"><i class="fab fa-tiktok fa-xs"></i></a>
      <a  href="https://www.facebook.com"><i class="fab fa-instagram fa-xs"></i></a>
      <a  href="https://www.facebook.com"><i class="fab fa-whatsapp fa-xs"></i></a>

  </div>

  <!-- Rest of your HTML code -->
</header77>

<script type="text/javascript">
 window.addEventListener("scroll", function(){
      var header77 = document.querySelector("header77");
      header77.classList.toggle('down', window.scrollY > 0);
      });

</script>

</html>
    
  

   