<div class="carusel-imagenes">
    <div class="cotenedor-imagen">
            <img src="./img/fond0.jpg" alt="" class="d-block w-100"/>
            <div class="texttit2 align-items-center"> NOSOTROS  </div>
   
</div>


</div>