<div class="carusel-imagenes">
       <div class="cotenedor-imagen">
            
               <img src="./img/fond1.jpg" alt="" class="d-block w-100"    />
              <div class="texttit align-items-center"> ¿QUIENES SOMOS?
              </div>
               <p class="text align-items-center">
                     Somos un equipo de Fitness de Combate & Baile Fintess,
                     constituida por OCs y Elites de la empresa FGI motivados 
                     por la pasión de crecer como intructores en los programas de Full Kombat y Ritmos Fitness.
              </p>
        </div>
        <div class="cotenedor-imagen">
            <img src="./img/fond2.jpg" alt="" class="d-block w-100"    />
     </div>
     <div class="cotenedor-imagen">
       <img src="./img/fond3.jpg" alt="" class="d-block w-100"    />
</div>
 </div>

