
<!DOCTYPE html>
<html lang="en">
  
    
 
  <head >
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />

  </head>

<body>
    <!-- Add your content here -->
  
    <header>
      <nav class="navbar">
        <a href="#" class="navbar-brand">
          <img src="img/logosamu.png" alt="Icono" class="navbar-icon">
        </a>
        <!-- Add your navbar links here -->
      </nav>
    </header>
  </body>