<div class="carusel-imagenes">
       <div class="cotenedor-imagen">
               <img src="./img/fond1.jpg" alt="" class="d-block w-100"    />
              <div class="texttit align-items-center"> asdasd</div>
               <p class="text align-items-center">
            
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit excepturi
                repellat quod perspiciatis nostrum ipsam blanditiis libero labore
                container pt-2 text-center d-flex justify-content-center align-items-center vh-100
               </p>
        </div>
        <div class="cotenedor-imagen">
            <img src="./img/fond2.jpg" alt="" class="d-block w-100"    />
     </div>
 </div>

